.main {
    background-image: url(../../img/main-background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 45px;
    padding-bottom: 36px;

    &-nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 20px;

        &__button--white {
            margin-right: 52px;
            margin-left: 16px;
        }

        &__burger {
            vertical-align: middle;
        }
    }


    &__button {
        padding: 18px 60px;
        text-align: center;
        margin-bottom: 101px;

    }

    &__items {
        display: flex;
        justify-content: space-around;
    }

    &__subtitle {
        font-weight: 300;
        font-size: 20px;
        line-height: 22px;
        letter-spacing: 0.17em;
        color: #fff;
        margin: 0 auto;
        text-align: center;
        display: block;
        padding-bottom: 67px;
        padding-top: 51px;
    }

    &__title {
        font-size: 164px;
        line-height: 200px;
        font-weight: 700;
        text-transform: uppercase;
        color: #fff;
        text-align: center;
        white-space: nowrap;

    }

    &__description {
        text-align: center;
        margin: 0 auto;
        padding-bottom: 76px;
        padding-top: 45px;
    }

    &__social a:not(:last-child) {
        margin-right: 12px;
    }
}

@media screen and (max-width:1231px) {
    .main {
        &__title {
            font-size: 110px;
        }

        &__subtitle {
            padding-top: 55px;
            padding-bottom: 24px;
        }

        &__description {
            padding-top: 8px;
            margin-bottom: 40px;
        }
    }
}

@media screen and (max-width:883px) {
    .main {
        &__title {
            font-size: 60px;
            line-height: 50px;
            letter-spacing: 5px;
        }
    }
}

/* ---------Шапка для авторизованного---------------------- */



.main-center {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

/* ----------------------------------------------- */



.section-one {
    margin-top: 85px;
}

.account {
    position: relative;

    &__bg {
        position: absolute;
    }

    & .slick-list {
        & .slick-slide {
            height: 240px;
            border-radius: 10px;
            overflow: hidden;
        }
    }



    &__bg img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__info {
        position: absolute;
        top: 0%;
        width: 100%;
        z-index: 3;
        padding: 20px 0px 15px;
    }

    &__upload_image {
        margin-bottom: 80px;
        padding: 0px 15px;
        align-items: center;
        justify-content: space-between;

        &>div {
            padding: 15px;
            background-color: #1E182B;
            border-radius: 6px;

            &>p {
                color: #8B81A0;
                font-size: 16px;
            }
        }

        & button {
            background-color: rgba(52, 73, 94, 0.8);
            border: none;
            outline: none;
            padding: 5px 20px;
            border-radius: 5px;
            color: rgba(219, 219, 219, 1);

            &:hover {
                text-decoration: underline;
            }
        }
    }

    &__name_rename_block {
        display: flex;
        justify-content: space-between;
    }

    &__desc {
        display: flex;
        padding-left: 45px;
    }

    &__status {
        flex-direction: column;
    }

    &__service {
        display: flex;
        align-items: center;
        padding-bottom: 9px;
    }

    &__btn {
        display: flex;
        align-items: center;
    }

    &__profile_img {
        width: 165px;
        height: 165px;
        z-index: 222;
        overflow: hidden;
        border-radius: 50%;
    }

    &__profile_img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__buttons-slider {
        & .slick-dots {
            display: flex;

            & li {
                list-style-type: none;
            }

            & li>button {
                width: 15px;
                height: 15px;
                margin: 10px;
                background-color: transparent;
                background-image: url("../img/star.svg");
                background-position: center;
                background-size: contain;
                background-repeat: no-repeat;
                border: none;
                color: transparent;
            }

            & .slick-active {
                & button {
                    background-image: url("../img/star-fill.svg");

                    &::marker {
                        display: none !important;
                    }
                }
            }
        }


    }


    &__profile_img button {
        width: 55px;
        height: 55px;
        background-color: transparent;
        border: none;
        outline: none;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: all .3s ease;
        opacity: 0;
    }

    &__profile_img:hover button {
        opacity: 1;
    }

    &__profile_img button>img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }


    &__service p {
        font-family: 'Montserrat';
        font-size: 30px;
        color: #fff;
        padding-right: 20px;
    }

    &__service button {
        width: 23px;
        height: 23px;
        overflow: hidden;
        background: none;
        border: none;
    }

    &__service button img {
        width: 100%;
        height: 100%;
    }

    &__status span {
        font-family: 'Montserrat';
        font-size: 16px;
        color: rgba(255, 255, 255, 0.7);
    }

    &__name {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-left: 20px;
    }

    &__button {
        padding-right: 55px;
    }

    &__button_1 {
        font-family: 'Montserrat';
        font-size: 16px;
        color: #fff;
        background: #F70E4D;
        border-radius: 5px;
        padding: 9px 34px;
        border: none;
    }

    &__button_2 {
        font-family: 'Montserrat';
        font-size: 16px;
        color: #fff;
        background: #F70E4D;
        border-radius: 5px;
        padding: 9px 34px;
        border: none;
    }


    &__social {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        padding-right: 22px;
    }

    &__social p {
        font-family: 'Montserrat';
        font-size: 12px;
        line-height: 15px;
        color: #DBDBDB;
        padding-bottom: 18px;
    }

    &__link a {
        padding-left: 12px;
    }

    &__rename {
        display: flex;
        align-items: top;
    }

    &__input {
        display: flex;
        flex-direction: column;
        width: var(--col-4);
        margin-right: 30px;
    }

    &__input_name {
        background: rgba(52, 73, 94, 0.8);
        border-radius: 5px;
        border: none;
        font-size: 30px;
        line-height: 36px;
        padding: 5px 15px;
        color: #fff;
        margin-bottom: 6px;
    }

    &__status_re {
        background: rgba(52, 73, 94, 0.8);
        border-radius: 5px;
        border: none;
        font-size: 16px;
        padding: 5px 15px;
        color: rgba(255, 255, 255, 0.7);
        padding-left: 10px;
    }

    &__edit_button {
        background-color: #fff;
        padding: 10px;
        color: #000;
        border-radius: 5px;
        border: none;
        width: 145px;
        margin-right: 10px;
    }
}

/*--------Section-two----Info__block-----*/

.section_two {
    padding-top: 150px;
}

.info {
    overflow: hidden;

    &__executor {
        transition: all .3s ease;
        height: 250px;
        width: var(--col-6);
        background-color: #34495e;
        padding: 15px;
        border-radius: 10px 0px 0px 10px;
    }

    &__gallery {
        width: var(--col-6);
        background-color: #000;
        padding: 15px;
        border-radius: 0px 10px 10px 0px;
    }

    &__executor>p {
        color: #fff;
        margin-bottom: 20px;
    }

    &__descript {
        margin-bottom: 10px;
        transition: all .3s ease;
        padding: 10px;
        height: 100px;
        overflow: hidden;
        border-radius: 10px;
        background-color: transparent;

        & p {
            color: #BBBBBB;
        }

        &.short_descript {

            //background-color: #1D1D27;
            & p {
                text-overflow: ellipsis;
                -webkit-line-clamp: 4;
                /* Число отображаемых строк */
                display: -webkit-box;
                /* Включаем флексбоксы */
                -webkit-box-orient: vertical;
                /* Вертикальная ориентация */
                overflow: hidden;
            }
        }


    }



    &__stars>div:first-child,
    &__stars>div:nth-child(2) {
        margin-right: 15px;
    }

    &__tools_bottom {
        margin-top: 15px;
        justify-content: space-between;
    }

    &__tools_bottom_buttons>button {
        background-color: transparent;
        border: none;
        outline: none;
        width: 40px;
        height: 40px;
    }

    &__reatings {
        width: var(--col-10);
        align-items: center;
        justify-content: space-between;
    }

    &__reatings p {
        color: #fff;
    }

    &__reatings p>span {
        padding-left: 5px;
        color: rgba(255, 255, 255, 0.5);
    }

    &__gallery_top {
        justify-content: space-between;

        & p {
            color: #fff;
        }

        & button {
            background-color: transparent;
            border: none;
            color: #fff;
            outline: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    &__gallery_list {
        width: var(--col-11);
        margin: 20px auto 0px;

        & .slick-track {
            height: 160px;
        }

        & .item-gallery {
            margin: 0px 5px;
            border-radius: 7px;
            overflow: hidden;

            &>img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        & button {
            color: transparent;
            background-color: transparent;
            border: none;
            outline: none;
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            width: 30px;
            height: 30px;
            position: absolute;
            z-index: 3;
            top: 40%;

            &:first-child {
                left: -30px;
                background-image: url("../img/chevron-left.svg");
            }

            &:last-child {
                right: -30px;
                background-image: url("../img/chevron-right.svg");
            }
        }
    }


}


/*----------Section-3-----------*/

.executor-section-three {
    margin-top: 50px;

    & ul{
        display: flex;
        flex-wrap: wrap;
        & li{
            list-style: none;
        }
    }
}

.different__btn button {
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: transparent;
    outline: none;
    margin-bottom: 10px;
    font-size: 16px;
    color: #FFFFFF;
    padding: 10px 25px;
    margin-right: 15px;

    &.active {
        color: #37E7FF;
        border-color: #37E7FF;
    }
}

.different__btn button:hover {
    color: #37E7FF;
    border-color: #37E7FF;
}

/*------------Section-4------------*/

.section-four {
    margin-top: 30px;
}

.track__list_executor {
    background-color: #000;
    padding: 15px;
    border-radius: 10px;

    &__track_top {
        justify-content: space-between;

        & p {
            color: #fff;
        }

        & a {
            background-color: transparent;
            border: none;
            color: #fff;
            outline: none;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    &__gallery_list {
        width: var(--col-11);
        margin: 20px auto 0px;

        & .slick-track>div>div {
            height: 150px;
        }

        & .slick-track p {
            color: #fff;
        }

        & .slick-track p:last-child {
            color: rgba(255, 255, 255, .3);
        }

        & .item-gallery {
            margin: 0px 5px;
            border-radius: 7px;
            overflow: hidden;

            & img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        & button {
            color: transparent;
            background-color: transparent;
            border: none;
            outline: none;
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            width: 30px;
            height: 30px;
            position: absolute;
            z-index: 3;
            top: 40%;

            &:first-child {
                left: -30px;
                background-image: url("../img/chevron-left.svg");
            }

            &:last-child {
                right: -30px;
                background-image: url("../img/chevron-right.svg");
            }
        }


    }



    &__buttons_group {
        padding: 40px 0px 20px;

        & button {
            border-radius: 5px;
            color: #fff;
            padding: 10px;
            border: 1px solid #fff;
            background-color: transparent;
            transition: all .3s ease;
            margin-right: 20px;
            font-size: 16px;

            &:hover {
                border-color: #F70E4D;
                background-color: #F70E4D;
                box-shadow: 0px 0px 8px #F70E4D;
            }
        }
    }
}

/*----------------Section-four listener-list------------------*/

.track__list_executor {
    &__listener {
        width: var(--col-11);
        margin: 20px auto;
    }

    &_avatar_listener {
        width: 70px;
        height: 70px;
        border-radius: 50%;
        overflow: hidden;
        margin: 10px;

        & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__listener button {
        color: transparent;
        background-color: transparent;
        border: none;
        outline: none;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        width: 30px;
        height: 30px;
        position: absolute;
        z-index: 3;
        top: 40%;

        &:first-child {
            left: -30px;
            background-image: url("../img/chevron-left.svg");
        }

        &:last-child {
            right: -30px;
            background-image: url("../img/chevron-right.svg");
        }
    }
}


/* ++++++++++DONATION+++++++++++++ */
.donation {
    background-color: #000;
    padding: 15px 15px 45px 15px;
    border-radius: 10px;

    &__col {
        font-size: 16px;
        color: #FFFFFF;
        font-weight: 400;
        margin-bottom: 40px;
    }

    &__col span {
        font-size: 16px;
        color: #BBBBBB;
        font-weight: 400;
    }

    &__centre {
        display: flex;
        width: var(--col-9);
        margin-bottom: 90px;
        position: relative;
        z-index: 3;
    }

    &__title h2 {
        font-weight: 700;
        font-size: 20px;
        color: #FFFFFF;
        margin-bottom: 30px;
    }

    &__title p {
        font-weight: 400;
        font-size: 20px;
        color: #BBBBBB;
    }

    &__price {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__price h2 {
        font-weight: 700;
        font-size: 19px;
        color: #FFFFFF;
    }

    &__desc {
        display: flex;
    }

    &__dollars {
        font-weight: 400;
        font-size: 36px;
        color: #313131;
        margin-left: 10px;
    }

    &__number {
        display: flex;
    }

    &__number>div {
        font-weight: 400;
        font-size: 50px;
        color: #37E7FF;
        padding-right: 5px;
        padding-left: 5px;
        background-color: #141414;
        margin-left: 5px;
        border-radius: 7px;
    }

    &__export {
        display: flex;
    }

    &__btn {
        font-weight: 500;
        font-size: 16px;
        color: #FFFFFF;
        background: #F70E4D;
        border-radius: 5px;
        padding: 10px 25px;
        border: none;
        margin-right: 50px;
    }

    &__button {
        display: flex;
        align-items: center;
    }

    &__button button {
        background-color: transparent;
        border: none;
        width: 17px;
        height: 17px;
        margin-right: 15px;
    }

    &__button button img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    &__line {
        border-left: 1px solid #343434;
        margin-right: 65px;
        margin-left: 35px;
    }
}

.donation__img {
    width: 400px;
    height: 355px;
    bottom: 0;
    right: 0;
}

.donation__img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}


/*---------Modal Form Add Track----------*/
.modal_overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    transition: opacity .3s ease;
    top: 0;
    right: 0;
    z-index: 999;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba(29, 29, 39, .5);
}

.modal_overlay.show {
    opacity: 1;
    visibility: visible;
    overflow-y: scroll;
}

.modal_overlay:not(show) {
    opacity: 0;
    visibility: hidden;
}

.form__add_track {

    width: var(--col-11);
    margin: 15vh auto;
    background-color: #000;
    padding: 15px;
    border-radius: 7px;

    & p {
        color: #fff;
    }
    
    &__wrap {
        flex-wrap: wrap;
    }
    
    &__most {
        display: flex;
        align-items: center;
    }
    
    &__forms {
        flex-grow: 1;
        overflow-X: scroll;
    }

    &__item_form {
        width: 350px;
        padding: 10px;
        
        &:last-child{
            margin-left: 40px;
        }

        & input {
            background-color: rgba(29, 29, 39, 1);
            border: none;
            padding: 7px 10px;
            border-radius: 5px;
            width: 100%;
            margin: 20px 0px;
        }



    }

    &__buttons_upload {
        justify-content: space-between;
        padding: 10px 0px 0px;

        & button {
            width: 100%;
            text-align: center;
            background-color: transparent;
            color: #fff;
            border: none;
            outline: none;
            display: block;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    &__track_list {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        max-width: 300px;
        width: 100%;


        & ol {
            padding-left: 50px;
            height: 300px;
            overflow-Y: scroll;
            border-left: 1px solid rgba(255, 255, 255, .2);

            & li {
                color: rgba(255, 255, 255, .5);
                padding: 10px;
                cursor: default;

                &:hover {
                    background-color: rgba(255, 255, 255, .3);
                }
            }
        }

    }

    &__upload_image {
        width: var(--col-6);
        margin-right: 10px;

        &>div {
            width: 100%;
            position: relative;
            height: 100%;
            background-color: rgba(29, 29, 39, 1);
            border-radius: 5px;
            padding: 10px;
            &>img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
    }

    &__upload_track {
        width: var(--col-6);

        &>div {
            height: 100%;
            overflow-Y: scroll;

            & div {
                background-color: rgba(255, 255, 255, 0.3);
                padding: 5px;
                border-radius: 3px;
                margin: 5px 0px;

                &:first-child {
                    margin-top: 0;
                }
            }
        }
    }

    & .add-new-label {
        margin-left: 30px;
        right: 47px;
        width: 35px;
        top: 50%;
        height: 35px;
        border-radius: 50%;
        border: none;
        outline: none;
        font-size: 2rem;
        background-color: rgba(255, 255, 255, .5);
    }

}

.button_group__add__track {
    padding: 50px 0px;

    & button {
        font-weight: 500;
        font-size: 16px;
        color: #FFFFFF;
        background: transparent;
        border: 1px solid #fff;
        border-radius: 5px;
        transition: all .3s ease;
        padding: 10px 25px;
        margin-right: 50px;

        &:hover {
            border-color: #F70E4D;
            background-color: #F70E4D;
            box-shadow: 0px 0px 8px #F70E4D;
        }
    }
}

.form__add__track_modal {
    & .btn__close {
        right: 20px;
    }
}

.button__upload_banner_mobile {
    display: none;
    width: 30px;
    height: 30px;
    background-color: rgba(255, 255, 255, 0.5) !important;
    font-size: 1.3rem;
    border-radius: 50% !important;
    padding: 0 !important;
    font-weight: bold;

    &:hover {
        text-decoration: none !important;
    }
}

.account__button_mobile {
    display: none;
    margin-top: 20px;

    & button {
        font-size: 14px;
        padding: 9px 14px;
    }
}

/*--------Form track upload------*/
.form__track_upload {
    margin-top: 120px;
    background-color: #34495E;
    padding: 15px;
    border-radius: 8px;

    &__player {
        &>div {
            width: var(--col-4);
        }
    }

    &__button_upload_track {
        width: 35px;
        height: 35px;
        background-color: transparent;
        border: none;
        outline: none;

        &>img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    &__buttons_player {
        &>div {
            padding: 5px 20px;

            &>button {
                margin: 0px 5px;
                background-color: transparent;
                border: none;
                outline: none;
                width: 20px;
                height: 20px;

                &>svg {
                    width: 100%;
                    height: 100%;
                    fill: rgba(255, 255, 255, .3);
                }
            }

            &>div {
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding-left: 10px;

            }
        }
    }

    & input[type='range'] {
        -webkit-appearance: none;
        cursor: pointer;
        height: 2px;
        margin: 0;
        background: linear-gradient(to right,
                #37E7FF 0%, #37E7FF 100%,
                rgba(255, 255, 255, .1) 40%, rgba(255, 255, 255, .1) 62.5%,
                rgba(255, 255, 255, .1) 62.5%, rgba(255, 255, 255, .1) 100%);
        transition: 0.1s ease-in;
        vertical-align: bottom;
        width: 100%;
        border-radius: 15px;
    }

    & input[type=range]::-webkit-slider-thumb {
        -webkit-appearance: none;
    }


    & input[type=range]::-webkit-slider-thumb {
        -webkit-appearance: none;
        height: 15px;
        width: 15px;
        border-radius: 50%;
        background: #37E7FF;
        cursor: pointer;
        margin-top: -8px;
    }


    & input[type=range]::-moz-range-thumb {
        border: 1px solid #000000;
        height: 36px;
        width: 16px;
        border-radius: 3px;
        background: #ffffff;
        cursor: pointer;
    }


    & input[type=range]::-webkit-slider-runnable-track {
        width: 100%;
        height: 2px;
        cursor: pointer;
        background: transparent;
        border-radius: 15px;

    }

}

.add_new_axecutor_inputs {
    padding: 0px 15px;

    & input {
        width: 100%;
        background-color: #000;
        padding: 5px 15px;
        border-radius: 5px;
        border: none;
        margin: 5px 0px;
    }

    & button {
        padding-top: 10px;
        display: flex;
        border: none;
        outline: none;
        background: transparent;
        align-items: center;

        &>div {
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background: #fff;
            display: flex;
            font-size: 1.2rem;
            font-weight: bold;
            flex-direction: column;
            justify-content: center;
            margin-right: 5px;

        }

        &:hover>p {
            text-decoration: underline;
        }
    }
}

.name_track_executor {
    & textarea {
        background-color: #000;
        border: none;
        border-radius: 5px;
        padding: 10px;
        width: 100%;
    }

    & input {
        width: 100%;
        background-color: #000;
        padding: 5px 15px;
        border-radius: 5px;
        border: none;
        margin: 5px 0px;
    }
}

.upload_track_overlay {
    &>div {
        position: relative;
        width: var(--col-11);
        background-color: #000;
        height: 150px;
        margin: 0 auto;
        border-radius: 5px;

        &>div {
            position: absolute;
            width: 100%;
            height: 100%;
            padding: 20px;

            &>img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
    }

    & button {
        background-color: transparent;
        border: none;
        outline: none;
        margin: 10px auto;
        color: #fff;
        text-align: center;
        display: block;

        &:hover {
            text-decoration: underline;
        }
    }
}


/*----Chat Block-----*/
.container_chat {
    position: relative;

    &>button {
        right: 0;
        position: absolute;
        border: none;
        outline: none;
        top: -15px;
        border-radius: 5px;
        width: 70px;
        height: 5px;
        background: #fff;
        z-index: 3;
    }
}

#close_track_upload {
    right: 0;
    position: absolute;
    border: none;
    outline: none;
    top: -15px;
    border-radius: 5px;
    width: 70px;
    height: 5px;
    background: #fff;
    z-index: 3;
}

.wrap_chat_block {
    border-radius: 10px;
    margin-top: 120px;
    overflow: hidden;

    & .chat_block_messages {
        background-color: #34495E;
        width: var(--col-6);

        & .user_name_chat {
            background-color: rgba(40, 55, 69, 0.86);
            padding: 10px;
            align-items: center;

            &>div:first-child {
                width: 50px;
                height: 50px;
                overflow: hidden;
                border-radius: 50%;

                &>img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            &>div:last-child {
                padding: 5px 10px;

                & p {
                    color: #B5B5B5;
                    font-size: .9rem;
                    margin-top: 5px;
                }

                &>div {
                    align-items: center;

                    &>div {
                        width: 8px;
                        height: 8px;
                        margin-left: 5px;
                        border-radius: 50%;
                        background-color: #54E422;
                    }

                    &>p:first-child {
                        font-weight: bold;
                        color: #fff;
                    }
                }
            }
        }

        & .chats_window {
            padding: 10px 40px;
            height: 450px;
            overflow-y: scroll;

            & .chat_balloon {
                background-color: rgba(40, 55, 69, 1);
                padding: 10px;
                margin: 20px 0px;
                position: relative;
                width: 300px;
                height: auto;
                clear: both;

                &>p {
                    color: #fff;
                }

                &:after {
                    content: attr(data-time);
                    position: absolute;
                    bottom: 5px;
                    color: #B5B5B5;
                    font-size: 13px;
                }

                &.chat_balloon_message {
                    float: left;

                    &:after {
                        right: -50px;
                    }
                }

                &.chat_balloon_response {
                    float: right;

                    &:after {
                        left: -50px;
                    }
                }

                &.chat_balloon_message:before {
                    content: ' ';
                    position: absolute;
                    width: 0;
                    height: 0;
                    left: -20px;
                    right: auto;
                    top: 0px;
                    bottom: auto;
                    border: 22px solid;
                    border-color: rgba(40, 55, 69, 1) transparent transparent transparent;
                }

                &.chat_balloon_response:before {
                    content: ' ';
                    position: absolute;
                    width: 0;
                    height: 0;
                    left: auto;
                    right: -20px;
                    top: 0px;
                    bottom: auto;
                    border: 12px solid;
                    border-color: rgba(40, 55, 69, 1) transparent transparent rgba(40, 55, 69, 1);
                }
            }
        }

        & .input_write_chat {
            background-color: rgba(40, 55, 69, 0.86);
            padding: 10px;
            justify-content: space-between;
            align-items: center;

            & button {
                background-color: transparent;
                border: none;
                outline: none;
                margin: 0px 5px;
                transition: all .3s ease;

                &:hover>img {
                    filter: opacity(.5);
                }
            }

            &>div {
                width: var(--col-11);

                &>input {
                    width: 100%;
                    border: none;
                    outline: none;
                    padding: 10px;
                    background-color: rgba(131, 147, 164, 0.49);
                    border-radius: 25px;
                }
            }
        }
    }

    & .block_users_chat {
        background-color: #000;
        width: var(--col-6);

        & .block_chat_list {
            padding: 15px;
            height: 480px;
            overflow-y: scroll;
        }

        & .input_search_users {
            &>div {
                padding: 10px;

                &>input {
                    padding: 7px 10px;
                    border: none;
                    outline: none;
                    width: 100%;
                    border-radius: 20px;
                    background-color: rgba(131, 147, 164, 0.49);
                }

                &:after {
                    content: "";
                    width: 20px;
                    position: absolute;
                    height: 20px;
                    cursor: pointer;
                    background-image: url(../img/search.svg);
                    background-position: center center;
                    background-repeat: no-repeat;
                    background-size: contain;
                    right: 20px;
                    top: 13px;
                    z-index: 3;
                }
            }
        }

        & .item_chat {
            padding: 20px 15px;
            border-bottom: 1px solid #fff;
            cursor: pointer;

            &>div:first-child {
                width: 50px;
                height: 50px;
                border-radius: 50%;
                overflow: hidden;

                &>img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            &>div:last-child {
                padding-left: 10px;

                &>div:first-child {
                    align-items: center;
                    margin-bottom: 15px;

                    &>p {
                        color: #fff;
                        font-weight: bold;
                        font-size: .9rem;
                    }

                }

                &>div:last-child {
                    width: 400px;
                    position: relative;

                    &>div {
                        width: 15px;
                        height: 15px;
                        position: absolute;

                        &>img {
                            width: 100%;
                            height: 100%;
                            object-fit: contain;
                        }
                    }

                    &.chat_message_unreade {
                        & img {
                            filter: opacity(.3);
                        }
                    }

                    & p {
                        font-size: .9rem;
                        padding-left: 20px;
                        color: rgba(255, 255, 255, 0.5);
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                }
            }
        }

        #show_more_chats {
            display: block;
            background: transparent;
            border: none;
            outline: none;
            margin: 0 auto;

            &>div {
                width: 50px;
                height: 50px;

                &>img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }
        }
    }
}

/*---------Media Queries-------------*/
@media (max-width: 1241px) {
    .form__add_track__item_form:last-child {
        display: none;
    }
}


@media (max-width: 900px) {
    .account__upload_image {
        justify-content: flex-end;

        &>div,
        &>.button__upload_banner_desk {
            display: none;
        }
    }

    .account__desc {
        padding-left: 0;
    }

    .account__profile_img {
        width: 100px;
        height: 100px;
    }

    .account__buttons-slider {
        display: none;
    }

    .account__button {
        display: none;
    }

    .account__button_mobile {
        display: block;
    }

    .account__social {
        & p {
            display: none;
        }
    }

    .info {
        flex-direction: column;

        &>div {
            width: 100%;

            &:first-child {
                border-radius: 10px 10px 0px 0px;
            }

            &:last-child {
                border-radius: 0px 0px 10px 10px;
            }
        }
    }

    .different__img {
        display: none;
    }

    .button__upload_banner_mobile {
        display: block;
    }

    .form__track_upload__player {
        flex-direction: column;

        &>div:first-child {
            width: var(--col-6);
        }

        &>div {
            width: var(--col-12);
            margin-bottom: 15px;
            padding: 0;
        }

        & .upload_track_overlay {
            &>div {
                width: var(--col-5);
                margin: 0;
            }

            & button {
                margin: 10px 0px;
            }
        }
    }

    .wrap_chat_block {
        flex-direction: column;

        &>div {
            width: 100% !important;
        }
    }

    .donation__centre {
        flex-direction: column;

        & .donation__desc {
            margin-top: 20px;
        }

    }

    & .donation__img {
        display: none;
    }
}

@media (max-width: 624px) {
    .button_group__add__track {
        display: flex;
        justify-content: space-between;
    }
    
    .button_group__add__track button {
        margin-right: 0;
    }
}

@media (max-width: 600px) {
    .account__name_rename_block {
        margin-left: 20px;
    }

    .account__profile_img button{
        width: 45px;
        height: 45px;
    }



    .info__reatings{
        display: none;
    }

    .info__tools_bottom{
        justify-content: flex-end;
    }

    .account__profile_img {
        width: 70px;
        height: 70px;
    }

    .account__service {
        padding-bottom: 20px;
    }

    .mask__bells {
        display: block !important;

        & button {
            background: transparent;
            border: none;
            margin-left: 10px;
        }
    }

    .account__social {
        justify-content: space-between;
    }

    .account__button_mobile {
        margin-top: 50px;
    }

    .section_two {
        margin-top: 45px;
    }

    .account__rename_btn {
        display: flex;
        flex-direction: column;
    }

    .account__edit_button {
        margin-bottom: 10px;
    }

    .account .slick-list .slick-slide {
        height: 125px;
    }

    .account__service p{
        font-size: 25px;
    }

    .account__service button{
        width: 18px;
        height: 18px;
    }

    .account__upload_image {
        margin-bottom: 35px;
        margin-top: 20px;
    }


    .form__track_upload, .wrap_chat_block{
        margin-top: 180px;
    }


    
    .button_group__add__track button {
        margin-right: 0;
    }
    
    .button_group__add__track {
        display: flex;
        justify-content: space-between;
    }
}


@media (max-width: 491px) {

    .form__track_upload, .wrap_chat_block{
        margin-top: 220px;
    }

    .form__add_track__most {
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .form__add_track .add-new-label {
        margin-bottom: 20px;
        margin-left: 0;
    }
    
    .button_group__add__track button {
        margin-right: 30px;
    }

}

@media (max-width: 472px) {
    .account__service {

        & p {
            font-size: 23px;
        }

        & button {
            width: 20px;
            height: 20px;
        }
    }


    .account__name_rename_block{
        flex-wrap: wrap;
    }

    .slick-list {
        height: 185px;
    }

    .account .slick-list .slick-slide {
        height: 135px;
    }

    .account__social{
        flex-direction: row;
        padding-top: 20px;
    }

    .account__link {

        & a {
            padding-left: 5px;
        }
    }

    .account__rename{
        flex-direction: column;
        & .account__input{
            width: 90%;
        }

    }
    
    .form__add_track .add-new-label {
        margin-bottom: 20px;
    }

    .account__input_name {
        font-size: 16px;
        line-height: 0;
        padding: 5px 0 5px 5px;
    }

    .account__status_re {
        font-size: 14px;
    }

    .account__edit_button {
        width: 90%;
        padding: 5px;
    }


    .account__rename_btn{
        margin-top: 15px;
    }

    .account__profile_img {
        min-width: 80px;
        height: 80px;
    }

    .account__profile_img button {
        width: 40px;
        height: 40px;
    }
}


@media (max-width: 400px) {
    .wrap_chat_block .chat_block_messages .chats_window .chat_balloon{
        width: 200px;
    }
}


@media (max-width: 377px) {
    .form__add_track p {
        display: flex;
        justify-content: center;
    }
}

@media (max-width: 361px) {
    
    
    .form__add_track__most {
        flex-wrap: wrap;
    }
    
    .form__add_track .add-new-label {
        margin-bottom: 25px;
    }
    
    .form__add_track__item_form input {
        width: 82%;
        margin-left: 32px;
    }
    
    .form__add_track__justify {
        justify-content: center;
    }
    
    .form__add_track__upload_image {
        width: 40%;
    }
    
    .form__add_track__upload_track > div div {
        width: 140px;
    }
    
    .form__add_track__upload_track {
        width: 130px;
    }
    
    .button_group__add__track {
        flex-direction: column;
        padding-bottom: 25px;
    }
    
    .button_group__add__track button {
        margin-bottom: 10px;
        margin-right: 0;
    }
    
    .form__add_track p {
        display: flex;
        justify-content: center;
    }
}

