.broadcost {
    margin-top: 110px;
    margin-bottom: 110px;
    flex-wrap: wrap;

    &__image {
        width: 100%;
        height: 100%;
        position: relative;

        & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__review {
        overflow: hidden;
        border-radius: 5px;
        height: 168px;
        border: 2px solid #F70E4D;
    }

    &__info {
        padding: 15px;
        width: var(--col-3);
    }

    &__player {
        background: transparent;
        border: none;
        position: absolute;
        bottom: 35%;
        right: 44%;
        transition: 0.5s;

        &:hover {
            -webkit-transform: scale(1.2);
            -ms-transform: scale(1.2);
            transform: scale(1.2);
        }
    }

    &__window {
        background: transparent;
        border: none;
        position: absolute;
        right: 12px;
        bottom: 7px;
    }

    &__name {
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        color: #fff;
        margin-top: 13px;
        margin-bottom: 10px;
    }

    &__desc {
        font-size: 16px;
        line-height: 20px;
        font-weight: 400;
        color: #BBBBBB;
        margin-bottom: 10px;
    }

    &__data {
        font-size: 16px;
        line-height: 20px;
        font-weight: 400;
        color: #BBBBBB;
    }

    &__donation {
        width: 170px;
        height: 52px;
        margin-top: 45px;

        & button {
            font-size: 16px;
            line-height: 20px;
            font-weight: 400;
            color: #fff;
            width: 100%;
            height: 100%;
            background: #F70E4D;
            border: none;
            border-radius: 5px;
        }
    }

    &__wrap {
        display: flex;
        flex-wrap: wrap;
    }

    &__button {
        width: 100%;
        display: flex;
        justify-content: center;

        & button {
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
            color: #37E7FF;
            border: 1px solid #37E7FF;
            box-sizing: border-box;
            border-radius: 5px;
            padding: 15px 28px;
            background: transparent;
        }
    }

    &__list {
        margin-bottom: 125px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
}

.video__player_block {
    transition: opacity .3s ease;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    position: fixed;
    overflow-y: scroll;
    top: 0;
    left: 0;
    z-index: 9999;

    &:not(show) {
        opacity: 0;
        visibility: hidden;
    }

    &.show {
        opacity: 1;
        visibility: visible;
    }

    & .close {
        float: right;
        width: 40px;
        height: 40px;
        background-color: transparent;
        border: none;
        outline: none;
        position: relative;
        z-index: 8;

        & svg {
            width: 100%;
            height: 100%;
        }
    }

    & .vide__container {
        width: 100%;
        height: 100%;
        padding: 40px 20px;

        & .video__player_container {
            width: 100%;
            height: 100%;
            position: relative;

            & video {
                width: 100%;
                height: 100%;
            }

            & .live {
                margin-right: 10px;

                & p {
                    color: #37E7FF;
                    font-size: 1.2rem;

                    &:after {
                        content: '';
                        width: 8px;
                        height: 8px;
                        vertical-align: middle;
                        border-radius: 50%;
                        margin-left: 5px;
                        display: inline-block;
                        background-color: #37E7FF;
                    }
                }
            }

            & .play,
            & .pause {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                width: 55px;
                height: 55px;
                background-color: transparent;
                border: none;
                outline: none;

                & img {
                    width: 100%;
                    height: 100%;
                    transition: all .3s ease;
                }

                &:hover img {
                    transform: scale(1.2);
                }
            }

        }

        #controls {
            position: absolute;
            top: 90%;
            left: 50%;
            width: 100%;
            padding: 0px 20px;
            transform: translateX(-50%);

            &>div {
                padding-top: 15px;

                &>div:first-child {
                    align-items: center;

                    & button {
                        margin-right: 10px;
                    }

                    & input[type='range'] {
                        -webkit-appearance: none;
                        cursor: pointer;
                        height: 2px;
                        margin: 0;
                        background: linear-gradient(to right,
                                #37E7FF 0%, #37E7FF 100%,
                                rgba(255, 255, 255, .1) 40%, rgba(255, 255, 255, .1) 62.5%,
                                rgba(255, 255, 255, .1) 62.5%, rgba(255, 255, 255, .1) 100%);
                        transition: 0.1s ease-in;
                        vertical-align: bottom;
                        border-radius: 15px;
                    }

                    & input[type=range]::-webkit-slider-thumb {
                        -webkit-appearance: none;
                    }


                    & input[type=range]::-webkit-slider-thumb {
                        -webkit-appearance: none;
                        height: 10px;
                        width: 10px;
                        border-radius: 50%;
                        background: #37E7FF;
                        cursor: pointer;
                        margin-top: -4px;
                    }


                    & input[type=range]::-moz-range-thumb {
                        border: 1px solid #000000;
                        height: 36px;
                        width: 16px;
                        border-radius: 3px;
                        background: #ffffff;
                        cursor: pointer;
                    }


                    & input[type=range]::-webkit-slider-runnable-track {
                        width: 100%;
                        height: 2px;
                        cursor: pointer;
                        background: transparent;
                        border-radius: 15px;

                    }
                }

                &:last-child {
                    & .quality_settings {
                        width: 150px;
                        padding: 5px 0px;
                        bottom: 100%;
                        right: 50px;
                        color: #fff;
                        background-color: rgba(0, 0, 0, 0.4);

                        & p {
                            padding: 7px 10px;

                        }

                        &>p {
                            border-bottom: 1px solid;
                        }

                        &>div {
                            & p {
                                cursor: pointer;

                                &:hover {
                                    background-color: rgba(255, 255, 255, 0.4);
                                }
                            }
                        }
                    }
                }
            }

            & .mute,
            & .unmute,
            & .play-1,
            & .pause-1 {
                width: 20px;
                height: 20px;
                background-color: transparent;
                border: none;
                outline: none;

                & img {
                    width: 100%;
                    height: 100%;
                }
            }

            & .settings,
            & .fullscreen {
                width: 20px;
                height: 20px;
                background-color: transparent;
                border: none;
                outline: none;
                margin: 0px 5px;

                & img {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}


progress[value] {
    cursor: pointer;
    appearance: none;
    border: none;
    border-radius: 3px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, .25) inset;
    color: dodgerblue;
    height: 5px;
    order: 1;
    position: relative;
    width: 100%;
}

/* WebKit styles */
progress[value]::-webkit-progress-bar {
    background-color: rgba(255, 255, 255, 0.3);
    ;
    border-radius: 3px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, .25) inset;
}

progress[value]::-webkit-progress-value {
    background: linear-gradient(to right, rgba(247, 14, 77, 1) 90%, grey 90% 10%);
    border-radius: 3px;
    position: relative;
    transition: width 1s linear;
}

/* Firefox styles */
progress[value]::-moz-progress-bar {
    background: linear-gradient(to right, rgba(247, 14, 77, 1) 90%, grey 90% 10%);
    border-radius: 3px;
    position: relative;
    transition: width 1s linear;
}


/* ===================ALER WARNING=================== */
.alert-warning {
    display: flex;
    justify-content: center;

    &__block {
        width: 400px;
        height: auto;
    }

    &__img {
        width: 100px;
        height: 100px;

        & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__content {
        display: flex;
        justify-content: center;
    }

    &__button {
        display: flex;
        justify-content: flex-end;

        & button {
            font-weight: 700;
            font-size: 30px;
            background: transparent;
            border: none;
            color: #F70E4D;
        }
    }

    &__vision {
        padding: 20px 15px 70px 0;
        background-color: #0F0F0F;
    }

    &__info {
        background-color: #1D1D27;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 45px 0 5px 0;
    }

    &__title {
        font-weight: 700;
        font-size: 28px;
        margin-bottom: 25px;
    }

    &__desc {
        font-weight: 400;
        font-size: 22px;
        margin-bottom: 65px;
    }

    &__ok {
        font-weight: 700;
        font-size: 20px;
        background-color: #F70E4D;
        color: #fff;
        border: none;
        padding: 7px 12px 7px 12px;
        border-radius: 5px;
        border-top: 20px;
    }
}





/*-----Media Queries--------*/
@media (max-width: 970px) {
    .broadcost {
        &__info {
            width: var(--col-4);
        }
    }
}


@media (max-width: 640px) {
    .broadcost {
        &__info {
            width: var(--col-6);
        }
    }
}

@media (max-width: 471px) {
    .broadcost {
        &__info {
            width: var(--col-12);
        }
    }
}