.form {
    margin-top: 103px;
    
    &__button {
        background: transparent;
        &:hover {
            cursor: pointer;
        }
    }
    
    &__form {
        display: flex;
        justify-content: space-between;
        max-width: 1108px;
        margin-bottom: 93px;
    }
    
    &__description {
        margin-top: 28px;
        margin-bottom: 55px;
    }
    
    &__input {
        max-width: 243px;
    }
}