.form {
    margin-top: 103px;
    
    &__button {
        background: transparent;
        &:hover {
            cursor: pointer;
        }
    }
    
    &__info {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    
    &__form {
        display: flex;
        justify-content: space-between;
        max-width: 1108px;
        margin-bottom: 93px;
        flex-wrap: wrap;
    }
    
    &__description {
        margin-top: 28px;
        margin-bottom: 55px;
    }
    
    &__input {
        max-width: 243px;
    }
}

/* =============Адаптация============== */

@media (max-width: 737px) {
    .form {
        
        &__button {
            margin-top: 20px;
        }
    }
}

@media (max-width: 628px) {
    .form {
        
        &__form {
            flex-direction: column;
        }
        
        &__input {
            max-width: 50%;
            margin-bottom: 20px;
        }
        
        &__button {
            width: 135px;
        }
    }
}

@media (max-width: 472px) {
    .form {
        &__title {
            max-width: 412px;
            width: 100%;
        }
        
        &__description {
            max-width: 430px;
            width: 100%;
        }
        
        &__form {
            flex-direction: column;
        }
        
        &__input {
            max-width: 100%;
            margin-bottom: 43px;
        }
        
        &__button {
            max-width: 140px;
            width: 100%;
        }
    }
}