.menu-block {
    background-color: rgba(0, 0, 0, 0.8);
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    padding: 46px 81px 42px 76px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 800;
    width: 100%;
    height: 95vh;
    display: none;
    flex-direction: column;
    justify-content: space-between;

    &__items {
        display: flex;
        justify-content: space-between;
    }

    &__column {
        display: flex;
        align-items: center;
        flex-direction: column;
        & > div{
            flex-direction: column;
            width: 100%;
            align-items: center;
            & > div:first-child{
                justify-content: space-between;
            }
        }
    }

    &__column-below {
        display: flex;
        justify-content: space-between;
    }
    
    &__list {
        display: flex;
    }
    
    &__social {
        margin-right: 110px;
        & a {
            margin-right: 9px;
        }
    }

    &__row {
        display: flex;
        flex-direction: column;
        width: var(--col-3);
    }

    &__link {
        margin-bottom: 25px;
        font-size: 26px;
        line-height: 32px;
        color: #fff;
        text-decoration: none;

        &:hover {
            color: #868686;
        }
    }
    
    &__buttons {
        margin-top: 45px;
        display: flex;
        justify-content: space-between;
        & > div{
            width: var(--col-3);
        }
    }

    &__button_red {
        font-size: 16px;
        line-height: 20px;
        font-weight: 400;
        color: #fff;
        border: none;
        padding: 8px 21px 10px 21px;
        background: #F70E4D;
        border-radius: 5px;
    }

    &__button_blue {
        font-size: 16px;
        line-height: 20px;
        font-weight: 400;
        color: #37E7FF;
        background: transparent;
        border: 1px solid #37E7FF;
        box-sizing: border-box;
        border-radius: 5px;
        padding: 8px 21px 8px 21px;
    }
}