.sides {
    padding-bottom: 157px;
    
    &__title {
        max-width: 727px;
        margin-bottom: 74px;
    }
    
    &__list {
        display: flex;
    }
    
    &__item {
        background-color: rgba(0, 0, 0, 1);
        border-radius: 10px;
        padding: 38px 29px;
//        margin-right: 56px;
        margin-right: 2.1%;
        max-width: 395px;
    }
    
    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    &__text {
        font-family: Montserrat;
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        color: rgba(128, 128, 128, 1);

    }
    
    &__title-content {
        margin-bottom: 18px;
    }
    
    &__pic {
        max-width: 100%;
    }
    
    &__button-wrapper {
        text-align: center;
        margin-top: 20px;
    }
    
    &__button-pink {
        padding: 13px 16px;
        white-space: nowrap;
        
    }
    
    &__slider--three {
        display: flex;
        overflow-x: hidden;
        overflow-y: hidden;
        height: auto;
    }
    
    &__slider-item {
        display: flex;
        overflow-x: hidden;
    }
    
    &__pic--label {
        max-height: 188px;
    }
    
    &__pic--listener {
        max-height: 193px;
    }
    
    &__pic--trio {
        max-height: 215px;
    }
}

.sides__slider--three .slick-slide,
.sides__slider-one .slick-slide {
    width: 100%;
    
}
.sides__slider--three .slick-dots, 
.sides__slider-one .slick-dots {
    bottom: 0;
    display: flex;
    text-align: left;
    z-index: 100;
}
.sides__slider--three .slick-dots button, 
.sides__slider-one .slick-dots button{
   width: 19px;
   height: 19px;
   font-size: 0;
   background: url("../../img/star.svg") center center / 100% no-repeat;
}
 
.sides__slider--three .slick-dots li,
.sides__slider-one .slick-dots li {
    margin-right: 15px;
    margin-left: 15px;
    
    &:first-child{
        margin-left: 0;
    }
}

.sides__slider--three .slick-dots li button:before,
.sides__slider-one .slick-dots li button:before {
    content: "";
    margin-left: 68px;
    margin-right: 68px;
}

.sides__slider--three .slick-dots li.slick-active,
.sides__slider-one .slick-dots li.slick-active {
    width: 19px;
    height: 19px;
    font-size: 0;
    background: url("../../img/star-active.svg") center center / 100% no-repeat;

}

.sides__slider-one {
    max-width: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
    min-width: 0;
}