.tabs {
    &__list {
        display: flex;
        justify-content: space-between;
        
        & > img {
            max-width: 100%;
            position: relative;
            bottom: 40px;
        }
    }
}

.tabcontent {
    display: none;
    
    &.active {
        display: block;
    }
}